.mz-pagingcontrols {
    margin-bottom: 15px;
    .mz-pagingcontrols-pagestate-label {
        display: inline-block;
    }
    .mz-pagingcontrols-pagesize-label {
        display: inline-block;
    }
    .mz-pagingcontrols-pagesize-dropdown {
        width: 60px;
        min-width: 0;
        display: inline-block;
    }
}
